/* 기본 스타일 설정 */
body {
    font-family: 'Nunito', sans-serif;
    background-color: #232526;
    /* 어두운 그레이 배경 */
    color: #f0f0f0;
    margin: 0;
    padding: 0;
}

/* 헤더 스타일 */
.header {
    background-color: #414345;
    /* 짙은 회색 */
    color: #fff;
    padding: 20px 0;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
}

/* 버튼 기본 스타일 */
.button {
    background-color: #6B6E70;
    /* 중간 회색 */
    color: white;
    border: none;
    padding: 12px 24px;
    border-radius: 4px;
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s;
}

.button:hover {
    transform: translateY(-3px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

/* 컨테이너 스타일 */
.container {
    width: 80%;
    margin: 40px auto;
    background-color: #2F3133;
    /* 어두운 회색 */
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

/* 사용자 정보 섹션 스타일 */
.user-info {
    background-color: #37393A;
    /* 매우 어두운 회색 */
    padding: 20px;
    margin-top: 20px;
    border-radius: 6px;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.3);
}

.user-info p {
    font-size: 18px;
    margin-bottom: 10px;
}

/* 등급 업 신청 버튼 스타일 */
.rank-up-button {
    background-color: #44bd32;
    /* 밝은 녹색 */
    transition: background-color 0.3s;
}

.rank-up-button:hover {
    background-color: #4cd137;
}

/* 캐릭터 애니메이션 */
@keyframes jump {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-20px);
    }
}

.character {
    animation: jump 2s infinite;
}